header{
    background: linear-gradient(rgba($co_text, 0.7), rgba($co_text, 0.7)), url(../img/wallpaper-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: $f-w;
    text-transform: uppercase;
    z-index: -2;
    #logo_nav{
        @include position($sa);
        @include bg-texture;
        #logo{
            z-index: 2;
            font-size: 2rem;

            a{
                transition: 0.5s;
                @include xs{
                    font-size: 20px;
                }
                @include m{
                    font-size: 40px;
                }

                color: $co_primary;
            }
            a:hover{
                background-color: $co_sec;
                color: $co_primary;
                padding: 10px 4px;
                color: $co_text;
            }
        }
        nav {
            ul{
                list-style: none;
                li{
                    display: inline-block;


                    a{  
                        transition: 0.5s;
                        @include xs{
                            font-size: 0.6rem;
                            padding: 7px 2px;
                        }
                        @include m{
                            font-size: 0.8rem;
                            padding: 12px 4px;
                        }
                        @include l{
                            font-size: 1rem;
                            padding: 16px 6px;
                        }
                    }

                    a:hover{
                        @include xs{
                            font-size: 0.6rem;
                            padding: 7px 2px;
                        }
                        @include m{
                            font-size: 0.8rem;
                            padding: 12px 4px;
                        }
                        @include l{
                            font-size: 1rem;
                            padding: 16px 6px;
                        }
                        background-color: $co_sec;
                        color: $co_primary;
                        color: $co_text;
                    }

                    #checked:hover{
                        @include xs{
                            font-size: 0.6rem;
                            padding: 7px 2px;
                        }
                        @include m{
                            font-size: 0.8rem;
                            padding: 12px 4px;
                        }
                        @include l{
                            font-size: 1rem;
                            padding: 16px 6px;
                        }
                        color:$co_text;
                    }
                }
                #checked{
                    @include xs{
                        font-size: 0.6rem;
                        padding: 7px 2px;
                    }
                    @include m{
                        font-size: 0.8rem;
                        padding: 12px 4px;
                    }
                    @include l{
                        font-size: 1rem;
                        padding: 16px 6px;
                    }
                    background-color: $co_sec;
                    color: $co_primary;
                

                }
            }
        }
    }
    .wrap_h{
        @include position($sa); 
        @include wCenter;
        @include fade-in(1s);
        position:relative;
        width: $w;
        text-align: center;

        .text_wrap_blur{
            @include xs{
                font-size: 3vw;
                padding: 200px 0;
            }
            @include m{
                font-size: 1.5vw;
                padding: 150px 0;
            }
            @include word-by-word-animation;

            text-shadow: 2px 2px 4px rgba($co_sec, 0.4);
            color: $co_primary;
            width: $f-w;
            h2{
                font-weight: 100;
            }
        }
        .img_wrap{
            width: 100%;
            img{
                width: $f-w;
            }
        }
        
    }
}