main{
    @include xs{
        font-size: 10px;
    }
    @include m{
       font-size:  15px;
    }
    @include position($sb, $c, column);
    color: $co_sec;
    width: $f-w;
    font-size: 8vw;
    padding-top: 20px;

    #biografija{
        @include xs{
            @include position($sa, $c, column-reverse);
            width: $f-w;
        }
        @include m{
            @include position($sa);
            width: $w;
        }
        
        @include position();
        .text_holder{
            @include xs{
                width: $w;
            }
            @include m{
                width: 50%;
                padding: 25px 2%;

            }
            @include l{
                padding: 30px 5%;
            }

            p{
                text-align: justify;
            }
        }
        .img_wrap{
            padding: 25px 0;
            @include xs{
                width: $w;
            }
            @include xs{
                width: 70%;
            }
            @include m{
                width: 45%;
            }
            img{
                width: $f-w;
                border: 5px solid $co_sec;
                border-radius: 4px;
            }
        }
    }

    #vestine{
        @include position($sa,$c,column);
        width: $w;
        #icon_wrap{
            @include position($sa);
            @include xs{
                padding: 10px 0;
            }
            @include m{
                padding: 25px 0;
            }

            #icon_holder,#icon_holder:hover{
                @include xs{
                    padding: 0 0px;
                }
                @include xs{
                    padding: 0 5px;
                }
                @include m{
                    padding: 0 10px;
                }
            }

            i,p,i:hover,p:hover{
                @include xs{
                    font-size: 10px;
                    padding: 3px 5px;
                }
                @include xs{
                    font-size: 6vw;
                    padding: 5px 10px;
                }
                @include m{
                    font-size: 60px;
                    padding: 8px 15px;
                }
            }

            i,p{
                transition: $dr;
            }
            i:hover,p:hover{
                background-color: $co_sec;
                color: $co_primary;
                color: $co_text;
                border-radius: 4px;
            }
        }
    }

    #projekti{
        width: $w;
        @include position($sa,$c,column);
        a{
            color: $co_sec;
        }
        .img_wrap{
            @include xs{
                width: $w;
                a,a:hover{
                    font-size: 15px;
                }
            }
            @include m{
                width: 70%;
                a,a:hover{
                    font-size: 1.4vw;
                }
            }
            a:hover{
                background-color: $co_sec;
                color: $co_text;
                border-radius: 3px;
            }
            padding: 50px 0;
            img{
                width: $f-w;
                border: 5px solid $co_sec;
                border-radius: 4px;
            }
        }
    }

    #kontakt_lokacija{
        @include xs{
            @include position($sa, $c, column);
        }
        @include m{
            @include position($sa);
        }
        background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../img/belgrade_01_street-network.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 0;
        width: $f-w;
        color: $co_primary;
        #kontakt{
            @include xs{
                width: $w;
            }
            @include m{
                width: 33%;
            }
            text-align: center;
            padding: 50px 0;
        }
        #lokacija{
            .text_holder{
                i,h3,p{
                    @include s{
                        font-size: 12px;
                    }
                    @include m{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}