*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$co_primary : #f1ece1;
$co_text: #1c140c;
$co_sec: #4e5a57;

$sb: space-between;
$sa: space-around;
$c: center;
$row: row;

$dr:all 0.5s;

$f-w: 100%;
$w:85%;

body{
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    background-color: $co_primary;
    position: relative;
    font-size: 10px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $co_text;
    }

    &::-webkit-scrollbar-thumb {
        background: $co_sec;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $co_primary;
    }
}

